.forMainDiv {
    /* height: 100%; */
    /* display: flex; */
     /* align-items: center; */
    /*justify-content: center; */
    margin-left:40%;
    margin-top:15%;
  }
.key {
    width: 78px !important;
}
.clear {
    width: 232px !important;
}
.operation {
    width: 68px !important;
}